SetEnvIf Referer hubanatomia\.ufape\.edu.\br localreferer
<FilesMatch \.(jpg|jpeg|png|gif|svg)$>
Order deny,allow
Deny from all
Allow from env=localreferer
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://hubanatomia.ufape.edu.br/$1 [R,L]